.inputGroup *{
    text-transform: none;
}


.bannar{
    background-image: url(/Images/from.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;

}

.formBox{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    background: var( --Body-color);
}

.buttonBox{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px var(--Heading-color);
    border-radius: 30px;
}

.buttonBox > button{
    background: transparent;
    border: none;
    margin: 10px 20px 10px 40px;
    position: relative;

}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 130px;
    height: 100%;
    background-color: var(--Heading-color);
    border-radius: 30px;
    transition: .5s;
}

.inputGroup{
    margin-left: 20px;
}

.inputGroup label{
    font-size: 2rem;
}

.inputField{
    margin-bottom: 20px;
    width: 80%;
    border: 2px solid var(--Navbar-color);
    outline: none;
    border-radius: 10px;
    padding: 10px;
}

.submitBtn{
    background-color: var(--Heading-color);
    margin-block: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 330px;
    font-size: 1.5rem;
    font-family: var(--Hero-font);
    cursor: pointer;
}

.user{
    margin-left: 90px;
}