header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Navbar-color);
}

.Gym{
    width: 60%;
}

.navBtn > ol, li{
    display: flex;
    margin: 10px;
    font-family: var(--Hero-font);
    color: var(--Text-color);
    font-weight: 400;
    cursor: pointer;
}

.samp{
    border: 1px solid var(--Text-color);
}

a{
    text-decoration: none;
    color: var(--Text-color);
}

ol li a:hover{
    color: black;
}

.samp:hover, .samp a:hover{
    color: black;
    background: rgb(217,234,253);
    background: radial-gradient(circle, rgba(217,234,253,1) 10%, rgba(154,166,178,1) 35%);
}

/* Main content */

.horeHeading{
    display: flex;
    justify-content: space-evenly;
    margin-inline: 30px;
    align-items: center;
    line-height: 2;
}

.textNote > h1{
    color: var(--Text-color);
    font-size: 3rem;
    font-weight: bolder;
    font-family: var(--Hero-font);
}

.Bg{
    background-color: var(--Text-color);
    margin-block: 30px ;
}

/* work on the Gym Section */
.workOutSection, figure{
    display: flex;
    margin: 10px;
    line-height: 2;
    font-size: 18px;
    font-family: var(--Navbar-font);
    
}

figcaption{
    padding: 5px 20px 0 20px;
}

.workOutSection img{
    width: 844px;
    height: 257px;
}

figure{
    background-color: var(--Heading-color);
}

figcaption > div{
    background-color: white;
    text-align: center;
}

figcaption > div a{
    text-decoration: none;
    color: black;
}

/* footer */
footer{
    background-color: var(--Navbar-color);
}

.footerLink{
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    padding-block: 20px;
    font-family: var( --Footer-font);
}
.textLink{
    align-self: center;
}

.link{
    border: 2px solid var(--Text-color);
    border-radius: 20px;
    padding: 10px;
}

.link > a{
   text-decoration: none;
   color: black;
}

.link:hover{
    background-color: var(--Text-color);
}

